[tool.poetry]
name = "sdss-clu"
version = "0.1.12"
description = "A new protocol for SDSS actors."
authors = ["José Sánchez-Gallego <gallegoj@uw.edu>"]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://github.com/sdss/clu"
repository = "https://github.com/sdss/clu"
documentation = "https://clu.readthedocs.io/en/latest/"
keywords = ["astronomy", "software"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "clu", from = "python" }
]
include = ["README.md"]
exclude = ["python/clu/tests/*"]

[tool.poetry.dependencies]
python = "^3.7"
Click = "^7.0"
aio_pika = "^6.4.1"
jsonschema = "^3.0.1"
sdsstools = "^0.1.0"
Sphinx = {version = "^2.3", optional = true}

[tool.poetry.dev-dependencies]
ipython = "^7.9.0"
matplotlib = "^3.1.1"
invoke = "^1.3.0"
flake8 = "^3.7.9"
doc8 = "^0.8.0"
pytest = "^5.2.2"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8.1"
pytest-sugar = "^0.9.2"
codecov = "^2.0.15"
coverage = {version = "5.0", extras = ["toml"]}
sdsstools = {version="^0.1.0", extras=["dev"]}
toml = "^0.10.0"
asynctest = "^0.13.0"
Sphinx = "^2.3"

[tool.poetry.extras]
docs = ["Sphinx"]

[tool.isort]
line_length = 79
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "SDSS", "FIRSTPARTY", "LOCALFOLDER"]
default_section = "THIRDPARTY"
known_first_party = ["clu"]
known_sdss = ["sdsstools"]
multi_line_output = 0
balanced_wrapping = true
include_trailing_comma = false
lines_after_imports = 2

[tool.coverage.run]
branch = true
include = ["python/clu/*"]
omit = [
    "*/misc/*.py",
    "*/__init__.py",
]

[tool.coverage.report]
exclude_lines = [
]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
