[tool.poetry]
name = "sdss-clu"
version = "0.4.0"
description = "A new protocol for SDSS actors."
authors = ["José Sánchez-Gallego <gallegoj@uw.edu>"]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://github.com/sdss/clu"
repository = "https://github.com/sdss/clu"
documentation = "https://clu.readthedocs.io/en/latest/"
keywords = ["astronomy", "software"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "clu", from = "python" }
]
include = ["README.md"]
exclude = []

[tool.poetry.dependencies]
python = "^3.7"
Click = "^7.0"
aio_pika = "^6.4.1"
jsonschema = "^3.0.1"
sdsstools = ">=0.2.0"
Sphinx = {version = ">=2.3", optional = true}

[tool.poetry.dev-dependencies]
ipython = ">=7.9.0"
matplotlib = ">=3.1.1"
invoke = ">=1.3.0"
flake8 = ">=3.7.9"
doc8 = ">=0.8.0"
pytest = ">=5.2.2"
pytest-asyncio = ">=0.10.0"
pytest-cov = ">=2.8.1"
pytest-sugar = ">=0.9.2"
codecov = ">=2.0.15"
coverage = {version = ">=5.0", extras = ["toml"]}
sdsstools = {version=">=0.2.0", extras=["dev"]}
toml = ">=0.10.0"
asynctest = ">=0.13.0"
Sphinx = ">=2.3"
isort = ">=5.2.2"
pytest-mock = "^3.2.0"

[tool.poetry.extras]
docs = ["Sphinx"]

[tool.isort]
line_length = 79
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "SDSS", "FIRSTPARTY", "LOCALFOLDER"]
default_section = "THIRDPARTY"
known_first_party = ["clu"]
known_sdss = ["sdsstools"]
multi_line_output = 0
balanced_wrapping = true
include_trailing_comma = false
lines_after_imports = 2
skip_glob = [
    "setup.py",
    "*/__init__.py"
]

[tool.pytest.ini_options]
addopts = "--cov clu --cov-report xml --cov-report html --cov-report term"

[tool.coverage.run]
branch = true
include = [
    "*/clu/*"
]
omit = [
    "*/misc/*.py",
    "*/__init__.py",
    "*/clu/legacy/ply/*",
    "*/clu/legacy/keys.py",
    "*/clu/legacy/html.py",
    "*/clu/legacy/messages.py",
    "*/clu/legacy/parser.py",
    "*/clu/legacy/pvt.py",
    "*/clu/legacy/types.py",
]

[tool.coverage.report]
exclude_lines = [
    "def __repr__",
    "class TCPProtocol",
    "class PeriodicTCPServer",
    "class TCPStreamPeriodicServer"
]

[build-system]
requires = ["poetry-core>=1.0.0a9"]
build-backend = "poetry.core.masonry.api"
