@charset "utf-8";

.red {
    color: red;
  }

.green {
  color: green;
}

.pink {
  color: pink;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

a.reference > em {
  font-style: normal !important;
}

a.reference > code {
  font-weight: inherit !important;
  color: inherit;
  background-color: inherit;
}

ul, ol {
  margin: 0px 0 0px 30px;
}

a.reference {
  border-bottom: 0px;
}

td.field-body > ul > li > em {
    font-style: normal !important;
}

.underline{
  text-decoration: underline;
}

dl + .class, dl + .function, span + .class, span + .function {
  padding-top: 40px;
}

dl.py.method, dl.py.attribute {
  padding-top: 10px;
}

dl.method > dt > code.descname {
  font-weight: normal;
}

code.sig-name.descname {
  color: rgba(140, 42, 42);
}
