# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '*.md'
      - '*.rst'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '*.md'
      - '*.rst'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8]

    steps:

    - uses: actions/checkout@v2

    - name: Cache Setup
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
            ${{ runner.os }}-pip-

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Setup actorkeys
      run: |
        git clone --depth=1 --branch apo https://github.com/sdss/actorkeys.git ../actorkeys
        export PYTHONPATH=$PWD/../actorkeys/python/:$PYTHONPATH

    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --show-source --statistics

    - name: Lint with isort
      run: |
        pip install isort
        isort -c python/

    - name: Test with pytest
      run: |
        pip install pytest pytest-cov pytest-asyncio pytest-mock
        pip install coverage[toml]
        pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
